@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

$lora: 'Lora', serif;
$source-sans-pro: 'Source Sans Pro', sans-serif;

// Whites
$white-0: #F4FEFF;
$white-1: #DCE5E5;
$white-2: #C6CECF;
$white-3: #B2B9BA;
$white-4: #A0A7A7;
$white-5: #606667;

// Blacks
$black-0: #252525;
$black-1: #1F1F1F;
$black-2: #1A1A1A;
$black-3: #161616;
$black-4: #121212;

// Greens
$green-0: #12E288;
$green-1: #10CB7A;
$green-2: #0FB76E;
$green-3: #0DA563;
$green-4: #0C9459;

// Reds
$red-0: #DA257A;
$red-1: #C4216E;
$red-2: #B11E63;
$red-3: #9F1B59;
$red-4: #8F1850;