@import "~@fontsource/lora/index.css";
@import "~@fontsource/source-sans-pro/index.css";

$lora: 'Lora', serif;
$source-sans-pro: 'Source Sans Pro', sans-serif;

// Whites
$white-0: #F4FEFF;
$white-1: #DCE5E5;
$white-2: #C6CECF;
$white-3: #B2B9BA;
$white-4: #A0A7A7;
$white-5: #606667;

// Blacks
$black-0: #091504;
$black-1: #0A1704;
$black-2: #0B1905;
$black-3: #0C1C05;
$black-4: #0D1F06;

// Greens
$green-0: #12E288;
$green-1: #10CB7A;
$green-2: #0FB76E;
$green-3: #0DA563;
$green-4: #0C9459;

// Reds
$red-0: #DA257A;
$red-1: #C4216E;
$red-2: #B11E63;
$red-3: #9F1B59;
$red-4: #8F1850;